/* GLOBALS */

html {
    font-size: 10px / 16px * 100%;
    height: 100%;
}

body {
    font: {
        family: $font-family;
        size: $font-size;
    }
}

a {
    color: $primary-color;
}

em {
    font-style: italic;
}

.default-button {
    display: inline-block;
    font: {
        size: 2.4rem;
        weight: 300;
    }
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    background: $primary-color;
    color: $white;
    padding: 0.3em 1.3em;
    border: 0;
    border-radius: 5px;
}