/* MODAL */

.modal {
    position: absolute;
    top: 100%;
    width: 100%;
    background: $modal-bg;
    border-radius: 5px;
    transition: top 0.5s ease; // Timing corresponds to delay in closeModal() function
    overflow-wrap: break-word; // Break line inside words that would overflow the container

    @media (min-width: 481px) {
        width: 90%;
        left: 50%;
        transform: translateX(-50%);
    }

    @media (min-width: 769px) {
        width: 80%;
    }

    // Set these properties on desktop to center
    // width: 80%;

}

// Dynamically added and removed with JavaScript for nice transitions
.modal-active {
    top: 0;

    @media (min-width: 481px) {
        top: 25px;
    }

    @media (min-width: 769px) {
        top: 50px;
    }
}

// Dynamically added and removed with JavaScript for nice transitions
.modal-padding {
    padding: 32px $base-margin;
}

.modal-control {
    position: absolute;
    top: $base-margin-px / 2;
    padding: 1rem;
    color: $black;
    font: {
        size: 2rem;
    }
    text-decoration: none;
}

.close-modal {
    @extend .modal-control;
    right: $base-margin-px;
    display: none;

    .fa {
        padding-left: $base-margin-px / 2;
    }
}

.modal-content {
    max-width: 600px;
    margin: 0 auto;
}