/* MODAL */

.modal {
    position: absolute;
    top: 100%;
    background: $modal-bg;
    transition: top 0.5s ease;

    // Set these properties on desktop to center
    // width: 80%;
    // left: 50%;
    // transform: translateX(-50%);
}

.modal-active {
    top: 0;
    padding: 32px 64px;
}

.close-modal {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    padding: 1rem;
}