/* MODAL */

.modal {
    position: absolute;
    top: 100%;
    background: $modal-bg;
    transition: top 0.5s ease; // Timing corresponds to delay in closeModal() function

    // Set these properties on desktop to center
    // width: 80%;
    // left: 50%;
    // transform: translateX(-50%);
}

// Dynamically added and removed with JavaScript for nice transitions
.modal-active {
    top: 0;
}

// Dynamically added and removed with JavaScript for nice transitions
.modal-padding {
    padding: 32px 64px;
}

.close-modal {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
    display: none;
}