/* RESULTS */
.search-results {
    list-style: none;

    a {
        font: {
            size: 2.4rem;
            weight: 700;
        }
    }

    li {
        margin: 0 0 ($base-margin * 1.5) 0;
    }

    p {
        margin-top: 0.7rem;
        font: {
            weight: 300;
        }
    }    
}

.results-nav {
    display: flex;
}

.next-results,
.previous-results {
    @extend .default-button;
    margin-top: $base-margin;
    margin-bottom: $base-margin;
}

.next-results {
    margin-left: auto;
}

.previous-results {
    margin-right: auto;
}