/* SEARCH */

.search-view {
    background: linear-gradient(
        to bottom right, 
        $bg-gradient-start, 
        $bg-gradient-mid $bg-gradient-mid-percent, 
        $bg-gradient-end
    );
    position: fixed;
    z-index: -10;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    font: {
        size: 2.4rem;
        weight: 300;
    }
    text-align: center;
}

.search-view-content {
    margin: auto;
    padding: $base-margin-px;
}

.site-title {
    color: $primary-color;
    font: {
        size: 6rem;
        weight: 700;
    }
    margin: 0;

    @media (min-width: 350px) {
        font-size: 8rem;
    }
}

.tagline {
    margin: 0 0 ($base-margin * 2) 0;
}

.search-form {
    display: flex;
    flex-flow: column nowrap;

    label {
        display: block;
        margin: $base-margin 0;
    }

    input[type=url],
    input[type=text] {
        border: 0;
        font: {
            size: $font-size;
        }
        text-align: center;
        padding: 0.6em 0.5em;
        margin: 0 0 $base-margin 0;
        width: 100%;
    }

    @media (min-width: 630px) {
        flex-flow: row nowrap;
    }
}

input[type=submit] {
        @extend .default-button;
        display: block;
        margin: ($base-margin * 2) auto 0 auto;
}

.form-item {
    position: relative;

    @media (min-width: 630px) {
        margin: 0 ($base-margin-px * 2);
    }
}

.wiki-url-warning {
    font: {
        size: 1.2rem;
        weight: 700;
    }
    color: $primary-color;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 110%);
}