// Variables

$font-family: 'Lato', sans-serif;
$font-size: 1.6rem;

$primary-color: #933101;
$black: #000000;
$white: #ffffff;

$bg-gradient-start: #fbbb40;
$bg-gradient-mid: #ff9600;
$bg-gradient-end: #ff8a00;
$bg-gradient-mid-percent: 54%;

$base-margin: 1.6rem;
$base-margin-px: 16px;

$modal-bg: #ffffff;

// Imports

@import 'partials/setup';
@import 'partials/globals.scss';
@import 'partials/search.scss';
@import 'partials/modal.scss';
@import 'partials/results.scss';
@import 'partials/article.scss';